<!-- Served Client Page -->

<!DOCTYPE html>
<html>

  <head>
    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>ChatRoom</title>
    <meta name="author" content="Tom B">
    <meta name="description" content="">

    <!-- Stylesheet and client dependancy CDN remote Script. -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Caveat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Marcellus+SC">
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>

  <!-- Main Document Body. -->
  <body>
    <h1 id="h1-title">ChatRoom 1.0</h1>

    <div class="flex" id="flex1">
      <div id="outputForm">
        <section id="chatroom"></section>
      </div>

      <div id="usersSection">
        <h2>Users List:</h2>
        <table><nav id="tableStart"></nav></table>
      </div>
    </div>

    <div class="flex" id="flex2">
    <div id="messagingSection">
      <button id="submit-message" type="button">Send</button>
      <input id="message" type="text">
      <p><ul id="feedback"></ul></p>
    </div>
    </div>

    <div id="accountSection">
      <h2><u>Your Account:</u></h2>
      <p id="account-info"><hr></p>

      <button id="submit-logout">Logout</button><br><br>

      <div id="collapse-user"><b>[+/-]</b> Change your User Name <b>[+/-]</b></div>
      <span class="collapse" id="update-username">
        <br>
        <input required class="passUserInputs" id="username" type="text" placeholder="New Username"/>
        <button id="submit-username">Change Username</button>
      </span>
      <p id="userlog"></p>

      <div id="collapse-pass"><b>[+/-]</b> Change your Password &nbsp;&nbsp;<b>[+/-]</b></div>
      <span class="collapse" id="update-password">
        <br>
        <input required class="passUserInputs" id="current-password" type="password" placeholder="Current Password"/>
        <input required class="passUserInputs" id="new-password" type="password" placeholder="New Password"/>
        <input required class="passUserInputs" id="confirm-new-password" type="password" placeholder="Confirm New Password"/>
        <button id="submit-password">Change Password</button>
      </span>
      
      <p id="passlog"></p>

      <button id="prompt" class="prompt-delete-account">Close Account</button>
      <span class="collapse" id="close-account">
        <p><b>Warning:</b> This is a <u>full</u> and <u>permanent</u> <u>deletion</u>, and the username will become available for all to use.<br/><i>Are you sure you want to close your account?</i></p>
        <button id="submit-delete">CONFIRM</button>
        <button class="prompt-delete-account">Cancel</button>
      </span>
    </div>

    

    <!-- Scripting -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>

    <script src="script.js"></script>

  </body>
  
</html>