<!-- Served Client Page -->

<!DOCTYPE html>
<html>

  <head>
    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>ChatRoom</title>
    <meta name="author" content="Tom B">
    <meta name="description" content="">

    <!-- Stylesheet and client dependancy CDN remote Script. -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>

  <!-- Main Document Body. -->
  <body>
    <nav class="flex">
      <div class="outputForm">
        <section id="chatroom"></section>
        <nav id="message-input">
          <button id="submit-message" type="button">Send Msg</button>
          <input style="width:80%;" id="message" type="text" required/>
        </nav>
      </div>

      <div class="inputForm">
        <h2>Users List:</h2>
        <table><nav id="tableStart"></nav></table>
        <br><ul id="feedback"></ul><br>
        <nav id="update-username">
          <button id="submit-username" type="button">Set Name</button>
          <input id="username" type="text" required/>
          <span id="ulog"></span>
        </nav>
      </div>
    </nav>

    <div class="accountForm">
      <h2><i><u>Your Account:</u></i></h2>
      <p id="account-info"></p><br>
      <input required class="passwordInput" id="current-password" type="password" placeholder="Current Password" required/>
      <input required class="passwordInput" id="new-password" type="password" placeholder="New Password" required/>
      <button id="submit-password" type="button">Change Password</button><br>
      <span id="plog"></span>
    </div>

    <!-- Scripting -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="script.js"></script>
  </body>

</html>