<!-- Served Client Page -->

<!DOCTYPE html>
<html>

  <head>
    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>ChatRoom</title>
    <meta name="author" content="Tom B">
    <meta name="description" content="">

    <!-- Stylesheet and client dependancy CDN remote Script. -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>

  <!-- Main Document Body. -->
  <body>
    <nav class="flex">

      <div class="outputForm">
        <section id="chatroom"></section>
        <nav id="message-input">
          <button id="submit-message" type="button">Send Msg</button>
          <input required id="message" type="text"/>
        </nav>
      </div>

      <div class="inputForm">
        <h2>Users List:</h2>
        <table><nav id="tableStart"></nav></table>
        <br><ul id="feedback"></ul><br>
      </div>

    </nav>

    <div class="accountForm">
      
      <h2><i><u>Your Account:</u></i></h2>
      <p id="account-info"></p><hr><br>

      <div id="collapse-user"style="background-color: #3b4efc9a;"><b>[+/-]</b> Change your User Name <b>[+/-]</b></div>
      <span class="collapse" id="update-username">
        <br>
        <input required class="passUserInputs" id="username" type="text" placeholder="New Username"/>
        <button id="submit-username" type="button">Change Username</button>
      </span>
      <span id="userlog"></span>

      <br>

      <div id="collapse-pass" style="background-color: #fc3b3b9a;"><b>[+/-]</b> Change your Password <b>[+/-]</b></div>
      <span class="collapse" id="update-password">
        <br>
        <input required class="passUserInputs" id="current-password" type="password" placeholder="Current Password"/>
        <input required class="passUserInputs" id="new-password" type="password" placeholder="New Password"/>
        <input required class="passUserInputs" id="confirm-new-password" type="password" placeholder="Confirm New Password"/>
        <button id="submit-password" type="button">Change Password</button>
      </span>
      <span id="passlog"></span>
      
    </div>

    <!-- Scripting -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>

    <script src="script.js"></script>

  </body>
  
</html>