body {
    background-color: rgba(237, 215, 245, 0.658);
}
form {
    border: 3px solid #0398b3;
    text-align: center;
    width: 100%;
    background-color:#00ffc831;
}
h3 {
    font-family: 'Lobster', serif;
    text-align: center;
}
h2 {
    font-family:'Pacifico';
}
p {
    text-align: center;
}
input[type=text], input[type=password] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1.5px solid rgb(21, 75, 0);
    box-sizing: border-box;
}
button {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 60%;
    max-width: 500px;
    display: inline-block;
}
#submit-register {
    background-color: rgb(20, 103, 114);
}
#submit-login {
    background-color: rgb(1, 107, 4);
}
button:hover {
    opacity: 0.7;
}
.container {
    padding: 16px;
}