/* Client Page Styling */

button {
    margin: 2px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
  }

td {
    border: 2px solid #dddddd;
    text-align: center;
    padding: 10px;
}

tr:nth-child(odd) {
    background-color: #0634ff62;
}

tr:nth-child(even) {
    background-color: #0213615d;
}

.flex {
    display: flex;
}

.inputForm {
    flex: 1;
    width: 30%;
    margin-left: 2px;
    margin-right: 2px;
    background-color:rgb(106, 215, 223) ;
    border: 3px solid rgb(19, 0, 128);
}

.outputForm {
    flex: 4;
    width: 68%;
    margin-left: 2px;
    margin-right: 2px;
    background-color:rgb(101, 245, 214) ;
    border: 3px solid rgb(19, 0, 128);
}

.accountForm {
    width: 20%;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 4px;
    background-color:rgb(255, 200, 175) ;
    border: 3px solid rgb(128, 26, 0);
}

.passUserInputs {
    width: 80%;
}

.collapse {
    display: none;
}

#message-input {
    position: sticky;
    top: 99%;
}

#chatroom {
    width: 96%;
    margin-left: 2%;
    margin-top: 6px;
    height: 300px;
    overflow: scroll;
    background-color:rgb(165, 245, 158) ;
}

#account-info {
    font-size: small;
    text-align: center;
}

#message {
    width: 80%;
}

[id^=collapse-] {
    display:inline-block;
}